<div id="fullscreen-image-viewer" class="fullscreen-viewer">
    <div class="fullscreen-viewer-content">
        <div class="fullscreen-controls">
            <button id="fullscreen-close" class="fullscreen-btn close-btn" title="Close (Esc)">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="fullscreen-image-container">
            <img id="fullscreen-image" src="" alt="Fullscreen Image">
        </div>
        <button id="fullscreen-prev" class="fullscreen-btn nav-btn prev-btn" title="Previous (←)">
            <i class="fas fa-chevron-left"></i>
        </button>
        <button id="fullscreen-next" class="fullscreen-btn nav-btn next-btn" title="Next (→)">
            <i class="fas fa-chevron-right"></i>
        </button>
        <div class="fullscreen-info">
            <div id="fullscreen-caption" class="fullscreen-caption"></div>
            <div id="fullscreen-counter" class="fullscreen-counter"></div>
        </div>
    </div>
</div>
